.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  height: 20px;
  padding: 5px;
}

.header p {
  font-size: 12px
}

.header label {
  font-size: 12px
}

.spaceBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  height: fit-content;
  padding: 5px;
}

.spaceBar input[type=text] {
  font-size: 16pt;
  height: fit-content;
  width: 100%
}

.mapHolder {
  width: 100%;
  max-width: 550px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 200px
}