.cityEntry:hover {
  background-color: #eee
}

.cityEntry {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.resultsList {
  max-width: 550px;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.resultsList p {
  font-size: 12pt;
}
